// Colors
$primary-color: #BA006D;
$secondary-color-1: #D8E2DC;
$secondary-color-2: #D7F4D2;
$secondary-color-3: #5A8645;

// Background
$background-color: #ebebeb;

// Fonts
$font-size-title: clamp(30px, 2.5vw, 62px);
$font-size-title-p: clamp(14px, 2vw, 16px);
$font-size-p: clamp(12px, 1.8vw, 16px);