.tratamientos {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__card {
        width: clamp(330px, 80%, 450px);
        height: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s ease-in-out;
        background-color: #fff;

        &:hover,
        &:focus {
            transform: scale(1.03) skew(0);
            transform-origin: bottom;
        }
    }

    &__card-2 {
        width: clamp(330px, 80%, 930px);
        background-color: rgb(255, 255, 255);
        text-align: center;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s ease-in-out;

        &:hover,
        &:focus {
            transform: scale(1.03) skew(0);
            transform-origin: bottom;
        }
    }

    &__image {
        height: 300px;
        object-fit: cover;
        width: clamp(400px, 100%, 930px);
    }

    &__image-2 {
        width: clamp(200px, 90%, 520px);
        height: 150px;
        margin: 1rem auto;
        object-fit: contain;
    }

    &__video {
        height: 100%;
        width: clamp(350px, 100%, 920px);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s ease-in-out;

        &:hover,
        &:focus {
            transform: scale(1.03) skew(0);
            transform-origin: bottom;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1.5rem;
        padding: 0 2rem;
        text-align: center;
    }

    &__title {
        color: #333;
    }

    &__description {
        margin-top: 6px;
        font-size: $font-size-p-2;
        color: #666;
        text-wrap: balance;
    }

    &__container-icon {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
    }

    &__icon {
        width: 40px;
        height: 40px;
        // background-color: $secondary-color-2;
        margin: 10px;
        border-radius: 999px;
        cursor: pointer;
        border: 0.2px solid $secondary-color-3;
        transition: transform 0.2s ease-in-out;

        img {
            filter: invert(50%) sepia(10%) saturate(1970%) hue-rotate(57deg)
                brightness(92%) contrast(87%);
            text-align: center;
            margin: 7px auto 0;
            height: auto;
        }
    }
    &__icon:hover {
        transform: scale(1.1) skew(0);
        transform-origin: bottom;
    }
}

.video-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    //   justify-content: center;
    //   align-items: center;
    z-index: 100;
    padding: 12vh 23vw 20vh 25vw;  /* iframe */

    //   &__video {
    //     height: 450px;
    //     width: 800px;
    //     padding: .7rem;
    //     margin-bottom: 2rem;
    //   }
}

.close-button {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    color: #111;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 1680px) {
    .video-overlay {
        padding: 14vh 15vw 10vh 17vw;  /* iframe */
    }
}

@media screen and (max-width: 1018px) {
    .tratamientos {
        &__description {
            font-size: clamp(14px, 1.4vw, 16px);
        }
    }

    .video-overlay {
        padding: 25vh 6vw 25vh 9vw; /* iframe */
    }
}

@media screen and (max-width: 1000px) {
    .tratamientos {
        margin-bottom: 30px;

        &__video {
            padding: 1rem;
            box-shadow: none;
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 400px) {
    .tratamientos {
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}