.turnos {
    margin: 1rem;
    .slider-container {
        width: 100%;
        display: grid;
        place-content: center;
    }

    .slider-frame {
        height: 380px;
        width: 100%;
        max-width: 600px;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }

    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 900%; /* Puse 900 porque son 9 imagenes */
        animation: slide 30s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }
        30% {
            margin-left: 0;
        }

        30% {
            margin-left: -100%;
        }
        40% {
            margin-left: -100%;
        }

        40% {
            margin-left: -200%;
        }
        50% {
            margin-left: -200%;
        }

        50% {
            margin-left: -300%;
        }
        70% {
            margin-left: -300%;
        }

        70% {
            margin-left: -400%;
        }
        80% {
            margin-left: -400%;
        }

        80% {
            margin-left: -500%;
        }
        90% {
            margin-left: -500%;
        }

        90% {
            margin-left: -600%;
        }
        100% {
            margin-left: -600%;
        }
    }

    /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px; */

    &__checking {
        padding: 2rem;
        background-color: #fff;
        text-align: center;
        border-radius: 0 0 10px 10px;
        box-shadow: 1px 10px 23px -2px rgba(0, 0, 0, 0.068);
        border: 1px solid #4444445b;
    }

    &__description {
        font-size: 24px;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }

    &__btn {
        font-size: clamp(14px, 2vw, 16px);
        padding: 1rem 2rem;
        border-radius: 999px;
        border: 1px solid #ba006d;
        background-color: #ba006d;
        color: #fff;
        width: 173px;
        font-weight: 400;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    &__btn:hover {
        transform: scale(1.04);
        transition: 0.3s;
    }
}

@media screen and (max-width: 500px) {
    .turnos .slider-frame {
        height: 300px;

        &__image {
            height: 300px;
        }
    }

    .turnos .slider-frame ul {
        animation: slide 60s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        50% {
            margin-left: -500%;
        }

        100% {
            margin-left: -770%;
        }
    }
}
