@import '../utilities/variables';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16.5px;
    line-height: 1.5;
}

body {
    background-color: $background-color;
}

ol,
ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

img, svg, video {
    max-width: 100%;
    display: block;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic; /* For alt: */
    shape-margin: 0.75rem; /* for text float */
}