@use '../utilities/mixins' as mixins;

.container {
  margin: 0 auto
}

@include mixins.title;

.section-main {
  // padding: 7rem 0 2rem;

  &__height {
    height: 100vh;
    display: block;
  }
}

@media screen and (min-width: 769px) {

  .section-main {
    padding: 5rem 0 2rem;
  }
}